// -----------------------------------------------------------------------------
// Logo Component properties
// -----------------------------------------------------------------------------
.logo {
  display: block;
  text-indent: -9999px;
  animation: 1s appear;

  &--header {
    width: 150px;
    height: auto;

    g {
      fill: colors(ocean-blue);
    }
  }

  &--header--white {
    width: 150px;
    height: auto;

    g {
      fill: colors(coconut);
    }
  }

  &--footer {
    width: 121px;
    height: 19px;

    g {
      fill: colors(coconut);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

// -----------------------------------------------------------------------------
// Button Component properties
// -----------------------------------------------------------------------------
.button {
  display: inline-block;
  font-family: $text-poppins;
  font-size: fontSize(button);
  font-weight: fontWeight(semibold);
  letter-spacing: $DEFAULT-LETTER-SPACING;
  text-transform: uppercase;
  cursor: pointer;
  padding: spacing-multiply($DEFAULT-SPACING, 2rem) spacing-multiply($DEFAULT-SPACING, 4rem);
  border-radius: $DEFAULT-SPACING;
  border: none;
  transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.05) !important;

  &--oceanBlue {
    background-color: colors(ocean-blue);
    color: colors(coconut);

    &:hover {
      background-color: colors(rich-black-75);
      color: colors(coconut);
    }
  }

  &--coconut {
    background-color: colors(coconut);
    color: colors(rich-black-75);

    &:hover {
      background-color: colors(coconut);
      color: colors(rich-black-75);
    }
  }
}

// -----------------------------------------------------------------------------
// Card Component properties
// -----------------------------------------------------------------------------
.card {
  width: 100%;
  height: 100%;
  background-color: colors(rich-black);
  z-index: 0;
  position: relative;

  &:last-child {
    background-color: colors(ocean-blue);
  }

  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: spacing-multiply($DEFAULT-SPACING, 15rem) 8.5rem;
    z-index: 0;
    position: relative;

    .card-menu {
      display: block;
      height: auto;
      padding: 0;
      margin: 0;
      list-style-type: none;
      margin-top: spacing-multiply($DEFAULT-SPACING, 6rem);

      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        vertical-align: top;
        padding: 0;

        &:nth-child(2) {
          margin-top: spacing-multiply($DEFAULT-SPACING, 2rem);
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: colors(coconut);

          &:hover {
            color: colors(ocean-blue);
          }
        }
      }
    }
  }
}

.card-form {
  display: flex;
  justify-content: baseline;
}

// -----------------------------------------------------------------------------
// Newsletter input Component properties
// -----------------------------------------------------------------------------
.newsletter {
  display: flex;
  flex-direction: column;

  &__input {
    min-width: 200px;
    background: transparent;
    font-size: fontSize(button);
    color: colors(coconut);
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    border: 0;
    border-bottom: 1px solid colors(coconut);
    padding: spacing-multiply($DEFAULT-SPACING, 2rem) spacing-multiply($DEFAULT-SPACING, 3rem);
    margin-bottom: spacing-multiply($DEFAULT-SPACING, 2rem);

    &:nth-last-of-type(1) {
      margin-bottom: spacing-multiply($DEFAULT-SPACING, 5rem);
    }

    &::placeholder {
      font-family: $text-poppins;
      font-size: fontSize(button);
      color: colors(coconut-75);
      text-transform: uppercase;
      opacity: 1;
    }
  }
}

// -----------------------------------------------------------------------------
// Blog  Component properties
// -----------------------------------------------------------------------------
.articles-preview {
  background-color: colors(white-smoke);

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: top;
    padding: 0;

    a {
      display: flex;
      color: colors(rich-black);

      &:hover {
        color: colors(ocean-blue);
      }
    }
  }
}

.articles-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__group {
    display: inherit;
    width: inherit;
    flex-wrap: inherit;
  }

  .blog-card {
    margin: spacing-multiply($DEFAULT-SPACING, 2em);
  }
}

// -----------------------------------------------------------------------------
// Blog cards
// -----------------------------------------------------------------------------
.blog-card {
  display: flex;
  width: 20.625em;
  padding: spacing-multiply($DEFAULT-SPACING, 3em);
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.05) !important;

  &--white {
    background: colors(coconut);

    .blog-card__category {
      color: colors(rich-black);
      font-weight: fontWeight(semibold);
    }

    .blog-card__posttype {
      color: colors(rich-black-75);
      font-weight: fontWeight(regular);
    }

    .blog-card__title {
      color: colors(rich-black);
      font-weight: fontWeight(semibold);
    }

    .blog-card__excerp {
      color: colors(rich-black-75);
    }

    a {
      color: colors(ocean-blue);

      &:hover {
        color: colors(ocean-blue);
      }
    }
  }

  &--black {
    background: colors(rich-black);

    .blog-card__category {
      color: colors(coconut);
      font-weight: fontWeight(semibold);
    }

    .blog-card__posttype {
      color: colors(coconut);
      font-weight: fontWeight(regular);
    }

    .blog-card__title {
      color: colors(coconut);
      font-weight: fontWeight(semibold);
    }

    .blog-card__excerp {
      color: colors(coconut);
    }

    .blog-card__date {
      color: colors(coconut);
    }

    a {
      color: colors(white-smoke);

      &:hover {
        color: colors(coconut);
      }
    }
  }

  &--blue {
    background: colors(ocean-blue);

    .blog-card__category {
      color: colors(coconut);
      font-weight: fontWeight(semibold);
    }

    .blog-card__posttype {
      color: colors(coconut);
      font-weight: fontWeight(regular);
    }

    .blog-card__title {
      color: colors(coconut);
      font-weight: fontWeight(semibold);
    }

    .blog-card__excerp {
      color: colors(coconut);
    }

    .blog-card__date {
      color: colors(coconut);
    }

    a {
      color: colors(white-smoke);

      &:hover {
        color: colors(coconut);
      }
    }
  }

  .blog-card__header {
    display: flex;
    flex-direction: row;

    .blog-card__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .blog-card__type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: spacing-multiply($DEFAULT-SPACING, 2rem);

      .blog-card__category,
      .blog-card__posttype {
        text-transform: uppercase;
        font-size: fontSize(meta);
      }
    }
  }

  .blog-card__main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .blog-card__title {
      line-height: 2rem;
    }

    .blog-card__excerp {
      font-size: fontSize(button);
      text-transform: capitalize;
      overflow: hidden;
    }
  }

  .blog-card__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .blog-card__date {
      font-size: fontSize(meta);
      font-weight: fontWeight(semibold);
      text-transform: uppercase;
    }

    .blog-card__icon {
      margin-left: auto;
    }
  }
}

// -----------------------------------------------------------------------------
// Products cards
// -----------------------------------------------------------------------------

.product-list {
  display: flex;
  flex-wrap: wrap;

  .product-item {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 15.75rem;
    height: 15.75rem;
    background-color: transparent;


    .product-logo {
      width: 12.963rem;
      height: auto;
    }
  }
}

// -----------------------------------------------------------------------------
// Post Meta Bar
// -----------------------------------------------------------------------------
.post-meta-section {
  width: 100%;
  background-color: colors(coconut);
  overflow: hidden;
  filter: drop-shadow(0 3px 3px colors(rich-black-10));

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1068px;
    margin: 0 auto;
    padding: spacing-multiply($DEFAULT-SPACING, 2rem) 0;
  }

  .post-meta-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid colors(rich-black-10);
    padding-right: spacing-multiply($DEFAULT-SPACING, 4rem);

    a {
      max-width: 30px;
      max-height: 30px;
      margin: 0 0 0 spacing-multiply($DEFAULT-SPACING, 4rem);

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .post-meta-authors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: spacing-multiply($DEFAULT-SPACING, 4rem);

    .post-meta-author__card {
      display: flex;
      align-items: center;
      margin-left: spacing-multiply($DEFAULT-SPACING, 3rem);

      &:first-of-type {
        margin-left: 0;
      }

      .post-meta-author__card__bubble {
        background-color: colors(white-smoke);
        color: colors(ocean-blue);
        font-size: fontSize(meta);
        text-transform: uppercase;
        border-radius: 50%;
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;

        span {
          display: inline-block;
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Filter Bar
// -----------------------------------------------------------------------------
.filter-section {
  width: 100%;
  background-color: colors(coconut);
  overflow: hidden;
  filter: drop-shadow(0 3px 3px colors(rich-black-10));

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1068px;
    margin: 0 auto;
  }

  .filter-select {
    &__menu {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      white-space: nowrap;
      border-right: 1px solid colors(rich-black-10);
    }

    &__item {
      font-size: fontSize(small);
      text-transform: uppercase;
      color: colors(rich-black-75);
      padding: spacing-multiply($DEFAULT-SPACING, 2rem) spacing-multiply($DEFAULT-SPACING, 3rem);
      cursor: pointer;
      border-bottom: none;
      transition: border-bottom 0.2s ease;

      &--active {
        border-bottom: 0.375rem solid colors(sizzling-red);
      }

      &:hover {
        border-bottom: 0.375rem solid colors(ocean-blue);
      }
    }
  }

  // -----------------------------------------------------------------------------
  // Search Input Component
  // -----------------------------------------------------------------------------
  .filter-search-bar {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;

    .filter-search-label {
      text-transform: uppercase;
      font-size: fontSize(small);
      color: colors(rich-black-75);
      align-self: center;
      pointer-events: none;
      transform-origin: left center;
      margin: 0 0 0 spacing-multiply($DEFAULT-SPACING, 5rem);
      border-bottom: 0.375rem solid transparent;
      transition: transform 0.5s;

      &--not-focused {
        transform: translateY(0px);
      }

      &--focused {
        transform: translateY(-10px) scale(0.8);
      }
    }

    .filter-search-input {
      background: transparent;
      border: 0;
      color: colors(ocean-blue);
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      overflow: visible;
      margin: 0 0 0 spacing-multiply($DEFAULT-SPACING, 5rem);
      padding: spacing-multiply($DEFAULT-SPACING, 2rem) spacing-multiply($DEFAULT-SPACING, 3rem);

      &:focus {
        outline: 0;
      }
    }

    .filter-search-icon {
      position: absolute;
      right: 20px;
      top: -15%;
    }
  }
}

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------
.pagination-section {
  width: 100%;
  overflow: hidden;
  margin-top: spacing-multiply($DEFAULT-SPACING, 10rem);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 534px;
    margin: 0 auto;

    .pagination {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .pagination__button {
        background-color: transparent;
        border: none;

        &--active {
          cursor: pointer;
        }

        &--disabled {
          cursor: initial;
        }
      }

      .pagination__arrow {
        width: 30px;
        height: 30px;

        &.previous {
          margin: 0 spacing-multiply($DEFAULT-SPACING, 3rem) 0 0;
        }

        &.next {
          margin: 0 0 0 spacing-multiply($DEFAULT-SPACING, 3rem);
        }
      }

      .pagination__list {
        display: flex;

        .pagination__list-item {
          background-color: transparent;
          font-size: fontSize(meta);
          color: colors(rich-black-50);
          // padding: spacing-multiply($DEFAULT-SPACING, 1rem)
          //   spacing-multiply($DEFAULT-SPACING, 2rem);
          border: 1px solid transparent;
          border-radius: 50%;
          display: flex;
          height: 30px;
          width: 30px;
          justify-content: center;
          align-items: center;

          &:not(:last-child) {
            margin: 0 spacing-multiply($DEFAULT-SPACING, 1rem) 0 0;
          }

          span {
            display: inline-block;
          }

          &.active {
            // border: 2px solid colors(rich-black);
            color: colors(coconut);
            background-color: colors(ocean-blue);
            border-radius: 50%;
            font-weight: fontWeight(semibold);
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Breadcrumb
// -----------------------------------------------------------------------------
.breadcrumb {
  display: flex;
  justify-content: flex-start;
  font-size: fontSize(meta);
  text-transform: uppercase;
  font-weight: fontWeight(semibold);

  &__parent {
    color: colors(coconut);

    &:hover {
      color: colors(ocean-blue);
    }
  }

  &__icon {
    width: auto;
    height: 19px;
    margin-left: spacing-multiply($DEFAULT-SPACING, 3rem);

    &--color {
      stroke: colors(ocean-blue);
    }
  }

  &__child {
    color: colors(coconut);
    margin-left: spacing-multiply($DEFAULT-SPACING, 3rem);
  }
}

// Icon
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;

  &--white {
    color: colors(coconut);
  }

  &--smoke {
    color: colors(white-smoke);
  }

  &--red {
    color: colors(sizzling-red);
  }

  &--blue {
    color: colors(ocean-blue);
  }

  &--black {
    color: colors(rich-black);
  }

  &--black25 {
    color: colors(rich-black-25);
  }

  &--bg {
    &--transparent {
      background-color: transparent;
    }

    &--white {
      background-color: colors(rich-black);
    }

    &--smoke {
      background-color: colors(sizzling-red);
    }

    &--red {
      background-color: colors(rich-black);
    }

    &--blue {
      background-color: colors(white-smoke);
    }

    &--black {
      background-color: transparent;
    }
  }
}

// Modal
.modal {
  position: fixed;
  top: spacing-multiply($DEFAULT-SPACING, 20rem);
  left: 50%;
  z-index: 99;

  &__container {
    position: relative;
    left: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(5, 6, 9, 0.1);
  }

  &--label {
    font-weight: fontWeight(semibold);
  }

  &--message {
    margin-left: spacing-multiply($DEFAULT-SPACING, 3rem);
    text-transform: capitalize;
  }

  &--danger {
    color: colors(coconut);
    background-color: colors(sizzling-red);
  }

  &--success {
    color: colors(ocean-blue);
    background-color: colors(white-smoke);
  }
}
