// The layout file contains everything that takes part in laying out the site or application.
// This file could have stylesheets for the main parts of the site
// (header, footer, navigation, sidebar…),
//  the grid system or even CSS styles for all the forms.
//

// -----------------------------------------------------------------------------
// Floating svg properties
// -----------------------------------------------------------------------------
.pattern {
  position: absolute;

  &--circle {
    width: 66.5rem;
    height: 60rem;
    opacity: 0.1;
    background: url(https://itrawsorigin.s3.ca-central-1.amazonaws.com/itraws2020assets/img/pattern-circle-dots.svg);
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -3;
    top: -3vh;
    right: -5vw;
    bottom: 0;
    left: auto;

  }

  &--circle-alt {
    width: 56rem;
    height: auto;
    opacity: 0.1;
    background: url(https://itrawsorigin.s3.ca-central-1.amazonaws.com/itraws2020assets/img/pattern-circle-dots.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: -3;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
  }

  &--dot-vertical {
    width: 12rem;
    height: auto;
    background: url(https://itrawsorigin.s3.ca-central-1.amazonaws.com/itraws2020assets/img/pattern-dot-vertical.svg);
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.3;
    z-index: -3;
    top: 1vh;
    right: 3vw;
    bottom: 0;
    left: auto;
  }

  &--dot-rectangle {
    width: 12rem;
    height: auto;
    background: url(https://itrawsorigin.s3.ca-central-1.amazonaws.com/itraws2020assets/img/pattern-dot-rectangle.svg);
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 1;
    z-index: -1;
    top: 5.5rem;
    right: 0;
    bottom: 0;
    left: 21.5rem;
  }

  &--dot-rectangle-blog-post {
    width: 12rem;
    height: auto;
    background: url(https://itrawsorigin.s3.ca-central-1.amazonaws.com/itraws2020assets/img/dot-rectangle-light-gray.svg);
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 1;
    z-index: 0;
    top: 0;
    right: 2rem;
    bottom: 0;
  }
}

.shape {
  &-red {
    @include shape-image('red', 7.5);
    top: 14rem;
    right: 10rem;
    bottom: 0;
    left: auto;
  }

  &-red--alt {
    @include shape-image('red', 3.886);
    top: 9rem;
    right: 19rem;
    bottom: 0;
    left: auto;
  }

  &-red--2 {
    @include shape-image('red-2', 5.25);
    top: 26.33vh;
    right: auto;
    bottom: 0;
    left: 29.652vw;
  }

  &-red--3 {
    @include shape-image('red-3', 4.625);
    top: 18rem;
    right: auto;
    bottom: 0;
    left: 4rem;
  }

  &-blue {
    @include shape-image('blue', 4.625);
    top: 30rem;
    right: 11rem;
    bottom: 0;
    left: auto;
  }

  &-blue--alt {
    @include shape-image('blue', 2.438);
    top: 22rem;
    right: 11rem;
    bottom: 0;
    left: auto;
  }

  &-blue--2 {
    @include shape-image('blue-2', 4.625);
    top: 33.66vh;
    right: auto;
    bottom: 0;
    left: 44.236vw;
  }

  &-white {
    @include shape-image('white', 5.063);
    top: 4rem;
    right: auto;
    bottom: 0;
    left: 28rem;
  }
}

// -----------------------------------------------------------------------------
// Header properties
// -----------------------------------------------------------------------------
.header-bg {
  background: url(https://itrawsorigin.s3.ca-central-1.amazonaws.com/itraws2020assets/img/mountain-graphic.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.header {
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  min-height: 0;
  position: fixed;
  background-color: transparent;
  transition: background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);

  &__scroll {
    background-color: colors(coconut);
    opacity: 1;
  }

  .header__content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    //padding: spacing-multiply($DEFAULT-SPACING, 5rem) 0 spacing-multiply($DEFAULT-SPACING, 10rem);
  }

  .header__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1068px;
    margin: 0 auto;
    padding: 1rem 0 0;
  }

  .header-menu--mobile {
    margin-left: auto;

    .menu-hamburger {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &--bar {
        cursor: pointer;
        width: 30px;
        height: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transition: all 0.4s ease;

        &--black {
          background-color: colors(rich-black);
        }

        &--white {
          background-color: colors(coconut);
        }

        &::before {
          content: '';
          width: 100%;
          height: 2px;
          background: inherit;
          top: -10px;
          position: absolute;
        }

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background: inherit;
          position: absolute;
          top: 10px;
        }

        &--clicked {
          display: block;
          background-color: colors(ocean-blue);
          transform: rotate(135deg);

          &::before {
            top: 0;
            transform: rotate(90deg);
          }

          &::after {
            top: 0;
            transform: rotate(90deg);
          }

          &:hover {
            transform: rotate(225deg);
          }
        }
      }

    }
  }

  .header-menu {
    display: flex;
    height: auto;
    padding-top: 0;
    opacity: 1;
    position: relative;
    pointer-events: auto;
    padding-left: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin-left: auto;

    .header-menu__item {
      display: flex;
      vertical-align: top;
      padding: 0;
      text-transform: capitalize;
      min-height: 0;
      margin-left: 3.75em;

      &:first-child {
        margin-left: 0;
      }

      &--active {
        color: colors(ocean-blue) !important;
      }

      &--blogpost {
        color: colors(coconut) !important;

        &:hover {
          color: colors(ocean-blue) !important;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none;
        color: colors(rich-black-75);
        font-weight: fontWeight(semibold);
        text-decoration: none;


        &:hover {
          color: colors(ocean-blue);
        }
      }
    }
  }

  // responsive menu
  .mobile-menu {
    width: 100%;
    height: 100vh;
    background-color: colors(white-smoke);

    &--closed {
      height: 0;
      transition: ease-in-out 0.5s;
    }

    &__lang {
      display: flex;
      align-items: center;
    }

    &__list {
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding-left: 0;
      background-color: colors(rich-black);

      &__item {
        width: 100%;
        padding: spacing-multiply($DEFAULT-SPACING, 2rem) 0;
        border: 1px colors(coconut-50);
        border-style: solid none none none;
        text-transform: capitalize;
        font-weight: fontWeight(semibold);
        font-size: fontSize(body);

        &--bgblue {
          background-color: colors(ocean-blue);
        }

        a {
          margin: 0 spacing-multiply($DEFAULT-SPACING, 4rem);
          color: colors(coconut);
        }
      }
    }

    &__sub {
      display: flex;
      margin: 0 spacing-multiply($DEFAULT-SPACING, 4rem);

      &__list {
        width: 100%;
        list-style-type: none;
        display: flex;
        padding-left: 0;
        flex-direction: column;
        margin: 0;

        &__item {
          padding: spacing-multiply($DEFAULT-SPACING, 1rem) 0;
          text-transform: uppercase;
          font-size: fontSize(meta);
          font-weight: fontWeight(regular);
        }
      }

      &__social {
        display: flex;
        align-items: flex-end;
        margin-left: auto;

        a {
          margin-left: spacing-multiply($DEFAULT-SPACING, 2rem);

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.hero {
  width: 100%;
  position: relative;

  &--homePage {
    max-width: 30rem;
  }

  &--altPage {
    max-width: 29.845rem;
  }

  &--blogPage {
    max-width: 40rem;

    .blog-headline-container {
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .blog-hero-excerp {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .hero__headline {
    color: colors(rich-black);
    text-transform: capitalize;
  }

  .hero__text {
    color: colors(rich-black-75);
    margin-bottom: spacing-multiply($DEFAULT-SPACING, 5rem);
  }
}

// -----------------------------------------------------------------------------
// Logo properties
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navigation properties
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// About Page properties
// -----------------------------------------------------------------------------
.about-section {
  &:first-of-type {
    max-width: 32.5rem;
  }

  &:nth-of-type(2) {
    max-width: 28.625rem;
  }

  &__image {
    overflow: hidden;

    &--1 {
      max-width: 28.063rem;
      max-height: 31.125rem;
    }

    &--2 {
      max-width: 32.5rem;
      max-height: 17.688rem;
    }
  }
}

.mission-section {
  &__list {
    margin: 0;
  }

  &__list__item {
    color: colors(rich-black-75);
  }
}

// -----------------------------------------------------------------------------
// Footer properties
// -----------------------------------------------------------------------------
.footer {
  box-sizing: border-box;
  background-color: colors(rich-black);
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  min-height: 0;

  .footer__content {
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: spacing-multiply($DEFAULT-SPACING, 10rem) 0 spacing-multiply($DEFAULT-SPACING, 5rem);
  }

  .footer-menu {
    display: block;
    height: auto;
    padding-top: 0;
    opacity: 1;
    position: relative;
    pointer-events: auto;
    padding-left: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    margin-left: spacing-multiply($DEFAULT-SPACING, 11em);

    .footer-menu__item {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin-left: spacing-multiply($DEFAULT-SPACING, 5em);

      &:first-child {
        margin-left: 0;
      }
    }

    .footer-icon {
      width: 30px;
      height: 30px;
    }
  }

  .footer-copyright {
    display: block;
    width: 100%;
    color: colors(coconut);
    margin-top: spacing-multiply($DEFAULT-SPACING, 5em);

    a {
      color: colors(white-smoke);
      font-weight: fontWeight(semibold);

      &:hover {
        color: colors(ocean-blue);
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Blog Post Hero
// -----------------------------------------------------------------------------
.hero-blog-post {
  width: 100%;
  max-width: 33.25rem;
  position: relative;

  .breadcrumb,
  h1 {
    z-index: 1;
    position: relative;
  }

  p {
    z-index: 1;
    position: relative;
    margin-top: 0.5rem;
  }

  h1 {
    line-height: multily-px($DEFAULT-SPACING, 9rem);
  }

  &-image {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .pattern--dot-rectangle-blog-post {
    opacity: .75;
  }
}

// -----------------------------------------------------------------------------
// Blog post elements styles
// -----------------------------------------------------------------------------
.blog-container {
  position: relative;
  margin: 0 auto;
  padding: 0 170px 6vw;
  min-height: 230px;
  line-height: 1.6em;

  h3 {
    color: colors(ocean-blue);
  }

  li {
    margin-top: 1rem;
    color: colors(rich-black-75);

    &:first-of-type {
      margin-top: 0;
    }
  }



  .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: colors(rich-black);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .09);

    &:hover {
      color: colors(rich-black-75);
      text-decoration: none;
      box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
    }
  }

  .kg-card+.kg-bookmark-card {
    margin-top: 0;
  }

  .kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }

  .kg-bookmark-title {
    color: #313b3f;
    line-height: 1.5em;
    font-weight: 600;
    transition: color .2s ease-in-out;
  }

  .kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: #5d7179;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;
  }

  .kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: #5d7179;
    font-weight: 400;
  }

  .kg-gallery-container {
    display: flex;
    max-width: 1040px;
    width: 100vw;
  }

  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:not(:first-of-type) {
      margin: 0.75em 0 0 0;
    }
  }

  .kg-gallery-image {

    img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:first-of-type) {
      margin: 0 0 0 0.75em;
    }
  }

  .kg-width-wide .kg-image {
    max-width: 1040px;
  }

  .kg-gallery-card+.kg-image-card.kg-width-wide,
  .kg-gallery-card+.kg-gallery-card,
  .kg-image-card.kg-width-wide+.kg-gallery-card,
  .kg-image-card.kg-width-wide+.kg-image-card.kg-width-wide {
    margin: 0 0 3em;
  }

  .kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 3px 3px 0;

      object-fit: cover;
    }
  }

  .kg-image-card {
    margin: 0 0 3em;
  }

  .kg-bookmark-card {
    width: 100%;
    background: colors(coconut);
  }

  .kg-image {
    max-width: 100%;
    width: 100%;
  }

  a {
    word-break: break-word;
    transition: all .2s ease-in-out;
  }

  .ul {
    margin: 0 0 1.5em;
    min-width: 100%;

    li {
      margin: .5em 0;
      padding-left: .3em;
      line-height: 1.6em;
      word-break: break-word;
    }
  }

  pre {
    overflow-x: auto;
    margin: spacing-multiply($DEFAULT-SPACING, 1.5em) 3em;
    padding: spacing-multiply($DEFAULT-SPACING, 2.5em);
    max-width: 100%;
    width: 100%;
    border: 1px solid transparent;
    color: colors(coconut);
    font-size: fontSize(button);
    line-height: 1.5em;
    background-color: colors(rich-black);
    border-radius: .5rem;

    code {
      padding: 0;
      font-size: inherit;
      background: transparent;
    }
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1,
    h2,
    h3,
    h4 {
      min-width: 100%;
      margin: .5em 0 .4em;
    }

    p {
      min-width: 100%;
      color: colors(rich-black-75);
      margin: 0 0 1.5em;
    }


    ul {
      list-style: disc;
    }

    ol,
    ul {
      max-width: 100%;
      padding-left: 1.3em;
      padding-right: 1.5em;
    }


  }
}

.blog-container h1+figure,
.blog-container h2+figure,
.blog-container h3+figure,
.blog-container h4+figure {
  margin-top: 2em;
}

.blog-container figure img {
  margin: 0;
}

.blog-container figure {
  margin: 0.8em 0 2.3em;
}

.blog-container img,
.blog-container video {
  display: block;
  margin: 1.5em auto;
  max-width: 1040px;
  height: auto;
}
