// Desktop
@include media('>768px') {
  .header-menu--mobile {
    display: none;
  }
}

@include media('<=768px') {
  .header-menu {
    display: none;
  }
}

// Tablet Responsive
@include media('≥tablet', '<desktop') {
  .section {
    .section__content {
      max-width: 800px;
    }

    .header__content {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .section__inner {
      max-width: 588px;
    }

    .section__grid {
      grid-template-columns: 1fr;
    }
  }

  .articles-preview {
    .section__inner {
      max-width: 710px;
    }
  }

  .about-page > .section > .section__inner {
    .section__grid {
      &:first-of-type {
        .about-section {
          width: 100%;
          max-width: 100%;

          &__image--1 {
            margin-top: 1rem;
            width: 100%;
            max-width: 100%;
          }
        }
      }

      &:nth-of-type(2) {
        .about-section {
          order: 1;
          width: 100%;
          max-width: 100%;

          &__image--2 {
            margin-top: 1rem;
            order: 2;
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .mission-grid {
      grid-template-columns: 1fr;
    }
  }

  .blog-page > .section > .section__inner {
    max-width: 710px;
  }

  .blog-post-page > .section > .section__content > .section__inner {
    max-width: 710px;
  }

  .blog-post-page {
    .section > .section__inner {
      max-width: 710px;

      .blog-container {
        padding: 0;
        width: 100%;
      }
    }

    .post-meta-section {
      &__inner {
        justify-content: center;
      }
    }

    .kg-gallery-container {
      max-width: 710px;
      width: 100%;
    }
  }
}

// 600px tablet size fix
@include media('>=600px', '<=600px') {
  .section {
    .section__content {
      width: 100%;
      max-width: 550px !important;
    }

    .section__inner {
      max-width: 410px !important;
    }
  }
}

// mobile phones
@include media('≥phone', '<tablet') {
  .cookie {
    &__inner {
      justify-content: center;
      flex-direction: column;

      .cookie__message {
        max-width: 100%;
      }

      .cookie__actions {
        margin-top: spacing-multiply($DEFAULT-SPACING, 3rem);
        max-width: 100%;
      }
    }
  }

  .header > .header__content > .header__inner {
    .header-menu {
      display: none;
    }
  }

  .section {
    .shape {
      &-red {
        top: 11rem;
        right: 1rem;

        &--alt {
          top: 11rem;
        }
      }

      &-red--2 {
        width: 3rem;
        top: 11rem;
        left: 1rem;
      }

      &-blue {
        display: none;

        &--alt {
          top: 20rem;
          right: 3rem;
        }
      }

      &-blue--2 {
        width: 3rem;
        top: 35rem;
        left: auto;
        right: 1rem;
      }
    }

    .section__content {
      width: 100%;
      max-width: 375px;
    }

    .header__content {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .section__inner {
      max-width: 310px;

      .product-list {
        flex-wrap: nowrap;
        flex-direction: column;

        .product-item {
          margin: 0 auto;
        }
      }
    }

    .section__grid {
      grid-template-columns: 1fr;
    }

    .card > .card__content {
      padding: 2.5rem 0;
      max-width: 300px;
      margin: 0 auto;

      .card-form {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        button {
          margin-top: 2rem;
        }
      }

      .pattern--dot-rectangle {
        left: 15rem;
        top: 2rem;
      }

      .shape {
        &-red--3 {
          top: 1rem;
          left: auto;
          right: 1rem;
        }

        &-white {
          display: none;
        }
      }

      h1,
      h4,
      ul {
        max-width: 100%;
      }
    }
  }

  .articles-preview {
    .articles-container {
      overflow-x: hidden;
    }
  }

  .footer {
    .section__content {
      .footer__content {
        justify-content: center;
        padding: 3rem 0 2rem;
        flex-direction: column;
        max-width: 300px;

        .footer-menu {
          margin-top: spacing-multiply($DEFAULT-SPACING, 5em);
          margin-left: 0;
        }
      }
    }
  }

  // Blog -page
  .blog-page {
    .filter-section {
      &__inner {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        max-width: 375px;

        .filter-select {
          display: none;
        }

        .filter-search-bar {
          padding: 1rem 0;
          min-height: 3rem;

          .filter-search-label {
            border-bottom: 0;
          }

          .filter-search-input {
            padding: 0;
          }

          .filter-search-icon {
            right: 1rem;
            top: 0.5rem;
          }
        }
      }
    }
  }

  .blog-post-page {
    .section {
      .section__content {
        .section__inner {
          max-width: 300px;

          .hero-blog-post {
            max-width: auto;
          }

          .hero-blog-post-image {
            display: none;
          }
        }
      }
    }

    .post-meta-section {
      &__inner {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 375px;

        .post-meta-social {
          padding-right: 0;
          border-right: none;
        }

        .post-meta-authors {
          margin-top: 1rem;
          padding-left: 0;
        }
      }
    }
  }

  .about-page > .section > .section__inner {
    .section__grid {
      .about-section {
        h4,
        p {
          // ok
        }
      }

      &:first-of-type {
        .about-section {
          width: 100%;
          max-width: 100%;

          &__image--1 {
            margin-top: 1rem;
            width: 100%;
            max-width: 100%;
          }
        }
      }

      &:nth-of-type(2) {
        .about-section {
          order: 1;
          width: 100%;
          max-width: 100%;

          &__image--2 {
            margin-top: 1rem;
            order: 2;
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .mission-grid {
      grid-template-columns: 1fr;
    }
  }
}

// flaoting icons Phone
@include media('≥phone', '<tablet') {
  .pattern--dot-rectangle {
    top: 3rem;
    right: -4rem;
    bottom: 0;
    left: auto;
  }

  .shape-red--3 {
    @include shape-image('red-3', 3.5);
    top: 18rem;
    right: auto;
    bottom: 0;
    left: 1.5rem;
  }

  .shape-white {
    @include shape-image('white', 4);
    top: 4rem;
    right: 0.25rem;
    bottom: 0;
    left: auto;
  }
}

// floating icons Tablet
@include media('≥tablet', '<desktop') {
  .pattern--dot-rectangle {
    right: 8rem;
    bottom: 0;
    left: auto;
  }

  .shape-red--3 {
    @include shape-image('red-3', 3.5);
    top: 18rem;
    right: auto;
    bottom: 0;
    left: 10rem;
  }

  .shape-white {
    top: 4rem;
    right: 10rem;
    bottom: 0;
    left: auto;
  }
}

// floafing icons tablet 600px
@include media-context(
  (
    'custom': 600px
  )
) {
  @include media('≥600px', '≤custom') {
    .pattern--dot-rectangle {
      right: 0;
      bottom: 0;
      left: auto;
    }

    .shape-white {
      top: 4rem;
      right: 5rem;
      bottom: 0;
      left: auto;
    }

    .shape-red--3 {
      top: 18rem;
      right: auto;
      bottom: 0;
      left: 7rem;
    }
  }
}

@include media('≥phone', '≤600px') {
  .shape-red--alt {
    top: 4rem;
    right: 19rem;
    bottom: 0;
    left: auto;
  }
}

// Blog post page phone and tablet <=600px
@include media('≥phone', '≤600px') {
  .blog-container {
    padding: 0;
  }
}

@include media('≥1280px', '≤1440px') {
  .shape-white {
    left: auto;
    right: 5rem;
  }

  .shape-red--3 {
    right: auto;
    left: 5rem;
  }
}

@include media('>1440px', '≥1920px') {
  .shape-white {
    left: auto;
    right: 10rem;
  }

  .shape-red--3 {
    right: auto;
    left: 10rem;
  }
}
